{% extends 'base.html' %}

{% block title %}Сообщение {{ object.subject }}{% endblock %}

{% block content %}
  <div class="card">
    <h2>Детали сообщения</h2>

    <p><strong>Тема письма:</strong> {{ object.subject }}</p>
    <h3>Тело письма:</h3>
    <div style="white-space: pre-wrap; background-color: #ecf0f1; padding: 15px; border-radius: 4px;">
      {{ object.body }}
    </div>
    <p style="margin-top: 20px;"><strong>Владелец:</strong> {{ object.owner.email }}</p>

    <a href="{% url 'mailing:message_update' object.pk %}" class="btn btn-primary">Редактировать</a>
    <a href="{% url 'mailing:message_delete' object.pk %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'mailing:message_list' %}" class="btn">Назад к списку</a>
  </div>
{% endblock %}